.TrakerForm {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border: 2px solid #9f9f9f;
  border-radius: 40px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;

  &-Button {
    background-image: url('./../../../public/images/right.svg');
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-image: url('./../../../public/images/right-active.svg');
      transform: scale(1.1);
    }
  }

  &-Input {
    flex-grow: 1;
    border-radius: 40px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 18px;

    &::placeholder {
      color: #c7c7c7;
    }

    &:focus {
      background: rgba(62, 176, 108, 0.2);

      &::placeholder {
        color: #fff;
      }
    }
  }
}